#Visualização de Variáveis e textos

In [ ]:
print("Conhecendo o comando Print")

x = 8
print(x)

Conhecendo o comando Print
8

In [ ]:
x = 8
y = 10
soma = x + y
print(soma)

18

In [ ]:
nome = ("Rodrigo Agostini")
print(nome)

Rodrigo Agostini

##Concatenação

In [ ]:
x = 5
print('O valor de x é ', x)

O valor de x é  5

In [ ]:
print('O valor de x é', x, 'e o dobro é', x * 2)

O valor de x é 5 e o dobro é 10

In [ ]:
print('Eu', nome, 'tirei', x, 'na prova de Python')

Eu Rodrigo Agostini tirei 5 na prova de Python

In [ ]:
y = 10; z = 20 + x - y

print('Declarar várias variáveis na mesma linha', y, z)

Declarar várias variáveis na mesma linha 10 15

#Type

In [ ]:
x = 10
type(x)
print('x', type(x))

nome = 'Rodrigo'
print('nome', type(nome))

num = 100
num_convert = int(num) #converter variável
print('num', type(num))
print('num_convert', type(num_convert))

num_float = float(num)
print('num_float', num_float)

x <class 'int'>
nome <class 'str'>
num <class 'int'>
num_convert <class 'int'>
num_float 100.0

#Input

*   Armazenar a informação digitada pelo usuário em uma variável;
*   O dado armazenado sempre será um texto.

In [ ]:
nome = input('Digite o nome de usuário ') #Aguarde o usuário digitar algo.
print(nome)

Digite o nome de usuário Rodrigo
Rodrigo

In [ ]:
valor = input('Digite a nota')
print(nome, 'sua nota foi:', valor)

Digite a nota10
Rodrigo sua nota foi: 10

In [ ]:
valor = input('Digite o valor do produto: ')
print(valor)

Digite o valor do produto: 10
10

In [ ]:
desconto = valor - 5 #Erro proposital, para teste.

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
valor_convet = int(valor)
desconto = valor_convet + 5
print(desconto)

15

In [ ]:
desconto = int(valor) - 5
print(desconto)

5